.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.registrationContainer {
  position: relative;
  text-align: center; /* Center the text within the container */
}

.registrationTitle {
  color: #333;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formLabel {
  margin-bottom: 10px;
  text-align: left;
}

.input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: #3e4a7a;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #22335f;
}

p a {
  color: #3498db;
  text-decoration: none;
  margin-top: 10px;
}

p a:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  display: flex; /* Добавлено свойство flex */
  justify-content: space-between; /* Распределение элементов с промежутками между ними */
  align-items: center; /* Выравнивание элементов по центру вертикально */
}

.modal_item {
  display: flex;
  justify-content: space-between;
}

.modalContent {
  position: relative;
}

.closeButton {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: #333;
}
