.productPage {
  margin: 0;
  display: flex;
  color: #22335f;
  height: 100%;
}

h2 {
  margin: 0;
}

.filterSection {
  width: 20%;
  border-right: 3px solid #22335f;
  padding: 40px;
}

.productsSection {
  width: 80%;
  padding: 40px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.productItem {
  display: flex;
  justify-content: space-between;
  border: 2px solid #22335f;
  border-radius: 10px;
  margin-block: 20px;
}

.productInfo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background: #22335f;
  color: white;
}

.productInfoName {
  font-weight: 700;
  font-size: 24px;
}

.productInfoName::first-letter {
  text-transform: uppercase;
}

.productInfoPrice {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.productImage {
  width: 50%;
  height: 200px;
  border-radius: 10px 0 0 10px;
}

.productImage img {
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
}
