.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #f9f9f9;
  color: #22335f;
  padding: 40px 120px;
}

.contactInfo {
  margin-bottom: 10px;
}

.socialLinks {
  display: flex;
  justify-content: center;
}

.socialLinks a {
  margin: 0 10px;
  text-decoration: none;
}

.socialLinks img {
  width: 30px;
  height: 30px;
}
